body
{
    font-family: inter;
    /* background-color: #e8ead3; */
}


.header_div{
    background-color: #cfd3ce;
    border-radius: 5px;
}

.header_text
{
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

.header_image
{
    border-radius: 50%;
    padding: 3px;
}

.intro
{
    font-size: 18px;
    margin: 10px;
}
li, ul{
    font-size: 18px;
}

.footer_div
{
    width: 99%;
    position: absolute;
    bottom: 8px;
    display: block;
    background-color: #cfd3ce;
    border-radius: 5px;
}
.footer_table
{
    
    background-color: #cfd3ce;
    border-radius: 5px;
    
}
.footer_contents
{
    padding: 10px;
}

.footer
{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
}
.footer_link
{
    padding: 0px;
    text-decoration: none;
    color: black;
}